*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form_box{
  margin: 10px;
  
}
fieldset{
  padding: 10px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.field{
  display: block;
}
input,label,textarea{
  display: block;
  width:100%
}
button{
  width: 100%;
  padding: 10px;
  margin-block:10px ;
  background-color: aqua;
  color: #000;
}